*{
	/*valori di default, reseting*/
	/*em e' un unita' di misura, indica la dimensione di m*/
	padding: 0em;	
	margin: 0em;
    border:1px solid #DDD
    
    
}

html, body{
	/*vado a impostare la dimensione massima della pagian html, setto a 1024 pixels perche' e' una dimensione standard*/
	max-width: 100%;		
	margin: auto;
	font-family: Verdana, Arial, Helvetica, sans-serif;	/*se c'e' prende il primo font, altrimenti gli altri.*/
	font-size: 100%;	/*il font sara' grande quanto l'utente ha impostato, teniamo conto delle preferenze del utente*/
	background: #f2f2f2;
  	font-family: 'Open Sans', sans-serif;
     padding-left: 5em;
    padding-right: 5em;
    
   
}


#Titolo{
	text-align: center;
	min-height: 7em;
	font-size: 20px;
   
    
}
#Titolo h1{
	padding-top: 1em;
	color: #000000;
  
    
}
#logo{
	float: left;
	width:10em;
	margin: 0.5em;
}

#pos{
	font-weight: bold;
	background-color: black;
	color: #FFFFFF;
	padding: 0.7em;
	
	
}
#divMenu{
	
	width:10em;
   padding-left: 35em;
    padding-right: 5em;
    

	}
	


#divContenuto
{
	float: center;
	width:51em;
	font-size: 13px;
	padding-top: 1em;
	padding-left: 1em;
	border-left: 1px solid #000000;
}


#Finale{
	float: center;
	width:51em;
	font-size: 10px;
   padding-left: 5em;
    padding-right: 5em;
}



#logo img{
    
	width: 50px;
	height: 50px;
	
}


.menu-link {
    font-weight: bold;
    color: #000000;
    display: block;
    padding: 10px;
}
 
.menu-link:hover {
    background-color: #51caf3;
    color: #fff;
}
ul#divMenu{
   
    display:flex;
    font-family: Verdana, sans-serif;
    font-size: 11px;
   
    list-style: none;
    flex-direction: row;
   
}

ul#main-menu li.active, ul#main-menu li:hover {
    background-color: #54BAE2;
    border-left: 5px solid #FF831C;
}

/*//////////////////////////////////////////////////BARRA DI RICERCA/////////////////////////////////////////////*/

.search {
  width: 100%;
  position: relative;
}

.searchTerm {
  float: left;
  width: 100%;
  border: 3px solid #00B4CC;
  padding: 5px;
  height: 20px;
  border-radius: 5px;
  outline: none;
  color: #9DBFAF;
}

.searchTerm:focus{
  color: #00B4CC;
}

#header_user{
    color: #000000;
    margin-left: 40em;
    font-size:13px;
    padding-right:0em;
}
.searchButton {
  position: absolute;  
  right: -50px;
  width: 40px;
  height: 36px;
  border: 1px solid #00B4CC;
  background: #00B4CC;
  text-align: center;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  font-size: 15px;
}

/*Resize the wrap to see the search bar change!*/
.wrap{
  width: 15%;
  position: absolute;
  top: 20px;
  right: 20px;
  transform: translate(-120%, -6%);
}


#pulsante {
     position: center;
 outline: none;
 cursor: pointer;
 text-align: center;

 font: bold 12px Arial, Helvetica, sans-serif;
 color: #fff;
 padding:5px 5px;
    border: solid 1px #0076a3;
 background: #0095cd;
-moz-border-radius: 8px;
-webkit-border-radius: 8px;
border-radius: 8px;
    min-height: 2em;
    max-width: 8em;
}

#val1 img{
    height: 2px;
    width: 5px;
}