/*SEZIONE GENERALE*/

*{
	/*valori di default, reseting*/
	/*em e' un unita' di misura, indica la dimensione di m*/
	padding: 0em;	
	margin: 0em;
}

html, body{
	/*vado a impostare la dimensione massima della pagian html, setto a 1024 pixels perche' e' una dimensione standard*/
	max-width: 100%;		
	margin: auto;
	font-family: Verdana, Arial, Helvetica, sans-serif;	/*se c'e' prende il primo font, altrimenti gli altri.*/
	font-size: 100%;	/*il font sara' grande quanto l'utente ha impostato, teniamo conto delle preferenze del utente*/
	background: #f2f2f2;
  	font-family: 'Open Sans', sans-serif;
}

body{
	border: 1px solid #DDD;	/*bordo*/
}

/*SEZIONE HEADER*/
#header{	/* # operatore di attribuzione per il campo id dei tag*/
	/*text-align: center;*/
	border: 5px solid black;
	min-height: 1.5em;
	padding: 0.3em;
}


#breadcrumb h3{
	font-size: 100%;	/*il font sara' grande quanto l'utente ha impostato, teniamo conto delle preferenze del utente*/
	text-align: left;
	margin: 15px;
	float: left;
}

#logo {
	/*l'immagine adra' al centro*/
	text-align: center;
	background-color: #8bfbf9;
	
	
	
}
#logo img{
	height: 50px;
	width: 50px;
    
}

/*//////////////////////////////////////////////////BARRA DI SEARCH/////////////////////////////////////////////*/




.search {
  width: 100%;
  position: relative
}

.searchTerm {
  float: left;
  width: 100%;
  border: 3px solid #00B4CC;
  padding: 5px;
  height: 20px;
  border-radius: 5px;
  outline: none;
  color: #9DBFAF;
}

.searchTerm:focus{
  color: #00B4CC;
}

.searchButton {
  position: absolute;  
  right: -50px;
  width: 40px;
  height: 36px;
  border: 1px solid #00B4CC;
  background: #00B4CC;
  text-align: center;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  font-size: 20px;
}

/*Resize the wrap to see the search bar change!*/
.wrap{
  width: 30%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}