/*SEZIONE GENERALE*/

*{
	/*valori di default, reseting*/
	/*em e' un unita' di misura, indica la dimensione di m*/
	padding: 0em;	
	margin: 0em;
}

html, body{
	/*vado a impostare la dimensione massima della pagian html, setto a 1024 pixels perche' e' una dimensione standard*/
	max-width: 100%;		
	margin: auto;
	font-family: Verdana, Arial, Helvetica, sans-serif;	/*se c'e' prende il primo font, altrimenti gli altri.*/
	font-size: 100%;	/*il font sara' grande quanto l'utente ha impostato, teniamo conto delle preferenze del utente*/
}

body{
	border: 1px solid #DDD;	/*bordo*/
}

/*SEZIONE HEADER*/
#header{	/* # operatore di attribuzione per il campo id dei tag*/
	/*text-align: center;*/
	border: 20px solid black;
	min-height: 10.5em;
	padding: 1em;
}


#breadcrumb h3{
	font-size: 100%;	/*il font sara' grande quanto l'utente ha impostato, teniamo conto delle preferenze del utente*/
	text-align: left;
	margin: 200px;
	float: left;
}

#logo {
	/*l'immagine adra' al centro*/
	text-align: center;
	background-color: #8bfbf9;
	margin: 2px;
	
	
}
#logo img{
	height: 100px;
    
}
hkb






